// size
$screen-sm: 768px;

// color
$primary: #FFA726;
$secondary: #FFCA28;
$bark-blue100: #002847;
$bark-blue54: rgba(0, 40, 71, .54);
$bark-blue38: rgba(0, 40, 71, .38);
$gray: #eeeeee;
$white: #ffffff;
$white87: rgba(255, 255, 255, .87);
$link: #4B86BF;

$primary-hover: #FFCA28;
